interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Billing/billingAccounts?includeAll=true&includeAllWithoutBillingProfiles=false&includeDeleted=false&includePendingAgreement=false&includeResellee=false&api-version=2024-04-01
  response:
    body:
      string: '{"value":[{"id":"/providers/Microsoft.Billing/billingAccounts/e261ef40-3517-515d-3680-8be4252ae148:efd45d14-e459-4bd7-a883-f3b176d0c335_2019-05-31","name":"e261ef40-3517-515d-3680-8be4252ae148:efd45d14-e459-4bd7-a883-f3b176d0c335_2019-05-31","properties":{"accountStatus":"Active","accountType":"Individual","accountSubType":"Professional","agreementType":"MicrosoftCustomerAgreement","displayName":"BAMI
        Test Account","hasReadAccess":true,"primaryBillingTenantId":"25190330-c2fa-4110-b63d-5cda77380ac6","billingRelationshipTypes":["Direct"],"qualifications":["Commercial"]},"type":"Microsoft.Billing/billingAccounts"},{"id":"/providers/Microsoft.Billing/billingAccounts/e261ef40-3517-515d-3680-8be4252ae148:0790f1fc-f274-4457-afc3-f3b0c90850ba_2019-05-31","name":"e261ef40-3517-515d-3680-8be4252ae148:0790f1fc-f274-4457-afc3-f3b0c90850ba_2019-05-31","properties":{"accountStatus":"Active","accountType":"Individual","accountSubType":"Professional","agreementType":"MicrosoftCustomerAgreement","displayName":"SMB
        Account","hasReadAccess":true,"primaryBillingTenantId":"25190330-c2fa-4110-b63d-5cda77380ac6","registrationNumber":{"id":"12345678","required":false,"type":["RegistrationNumber"]},"billingRelationshipTypes":["Direct"],"qualifications":["Commercial"]},"type":"Microsoft.Billing/billingAccounts"}]}'
    headers:
      api-supported-versions:
      - 2018-11-01-preview, 2019-10-01-preview, 2020-05-01, 2020-11-01-privatepreview,
        2022-10-01-privatepreview, 2024-04-01, 2024-08-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-service-version:
      - 10.6.2811.738
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Billing/billingAccounts/e261ef40-3517-515d-3680-8be4252ae148%3Aefd45d14-e459-4bd7-a883-f3b176d0c335_2019-05-31/billingProfiles?api-version=2020-05-01
  response:
    body:
      string: '{"totalCount":1,"value":[{"id":"/providers/Microsoft.Billing/billingAccounts/e261ef40-3517-515d-3680-8be4252ae148:efd45d14-e459-4bd7-a883-f3b176d0c335_2019-05-31/billingProfiles/4IA3-TK4E-BG7-M77W-SGB","name":"4IA3-TK4E-BG7-M77W-SGB","properties":{"billingRelationshipType":"Direct","billTo":{"addressLine1":"1
        Microsoft Way ","city":"Redmond","companyName":"Microsoft","country":"US","postalCode":"98052","region":"WA"},"currency":"USD","displayName":"Microsoft","enabledAzurePlans":[{"skuId":"0001","skuDescription":"Microsoft
        Azure Plan"}],"hasReadAccess":true,"invoiceDay":5,"invoiceEmailOptIn":false,"invoiceSections":{"hasMoreResults":false},"spendingLimit":"Off","status":"Active","systemId":"4IA3-TK4E-BG7-M77W-SGB","tags":{},"targetClouds":[]},"type":"Microsoft.Billing/billingAccounts/billingProfiles"}]}'
    headers:
      api-supported-versions:
      - 2018-11-01-preview, 2019-10-01-preview, 2020-05-01, 2020-11-01-privatepreview,
        2022-10-01-privatepreview, 2024-04-01, 2024-08-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-service-version:
      - 10.6.2811.738
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Billing/billingAccounts/e261ef40-3517-515d-3680-8be4252ae148%3Aefd45d14-e459-4bd7-a883-f3b176d0c335_2019-05-31/billingProfiles/4IA3-TK4E-BG7-M77W-SGB?api-version=2024-04-01
  response:
    body:
      string: '{"id":"/providers/Microsoft.Billing/billingAccounts/e261ef40-3517-515d-3680-8be4252ae148:efd45d14-e459-4bd7-a883-f3b176d0c335_2019-05-31/billingProfiles/4IA3-TK4E-BG7-M77W-SGB","name":"4IA3-TK4E-BG7-M77W-SGB","properties":{"billingRelationshipType":"Direct","billTo":{"addressLine1":"1
        Microsoft Way ","city":"Redmond","companyName":"Microsoft","country":"US","postalCode":"98052","region":"WA","isValidAddress":true},"currency":"USD","displayName":"Microsoft","enabledAzurePlans":[{"skuId":"0001","skuDescription":"Microsoft
        Azure Plan"}],"hasReadAccess":true,"invoiceDay":5,"invoiceEmailOptIn":false,"invoiceRecipients":[],"shipTo":{"addressLine1":"1
        Microsoft Way ","city":"Redmond","companyName":"Microsoft","country":"US","postalCode":"98052","region":"WA","isValidAddress":true},"soldTo":{"addressLine1":"1
        Microsoft Way ","city":"Redmond","companyName":"Microsoft","country":"US","postalCode":"98052","region":"WA","isValidAddress":true},"spendingLimit":"Off","status":"Active","systemId":"4IA3-TK4E-BG7-M77W-SGB","targetClouds":[]},"type":"Microsoft.Billing/billingAccounts/billingProfiles","systemData":{"createdAt":"2024-07-02T19:43:42.6730697Z","lastModifiedAt":"2024-07-02T19:43:42.6730697Z"}}'
    headers:
      api-supported-versions:
      - 2018-11-01-preview, 2019-10-01-preview, 2020-05-01, 2020-11-01-privatepreview,
        2022-10-01-privatepreview, 2024-04-01, 2024-08-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-service-version:
      - 10.6.2811.738
    status:
      code: 200
      message: OK
version: 1
