interactions:
- request:
    body: '{"addressLine1": "1 Microsoft Way", "city": "Redmond", "country": "US",
      "postalCode": "98052", "region": "wa"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/providers/Microsoft.Billing/validateAddress?api-version=2024-04-01
  response:
    body:
      string: '{"status":"Valid","suggestedAddresses":[{"addressLine1":"1 Microsoft
        Way","city":"Redmond","country":"US","postalCode":"98052-8300","region":"WA","isValidAddress":true}]}'
    headers:
      api-supported-versions:
      - 2018-11-01-preview, 2019-10-01-preview, 2020-05-01, 2020-11-01-privatepreview,
        2022-10-01-privatepreview, 2024-04-01, 2024-08-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-tenant-resource-requests:
      - '99'
      x-ms-service-version:
      - 10.6.2811.738
    status:
      code: 200
      message: OK
version: 1
