interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Billing/billingAccounts?includeAll=true&includeAllWithoutBillingProfiles=false&includeDeleted=false&includePendingAgreement=false&includeResellee=false&api-version=2024-04-01
  response:
    body:
      string: '{"value":[{"id":"/providers/Microsoft.Billing/billingAccounts/e261ef40-3517-515d-3680-8be4252ae148:efd45d14-e459-4bd7-a883-f3b176d0c335_2019-05-31","name":"e261ef40-3517-515d-3680-8be4252ae148:efd45d14-e459-4bd7-a883-f3b176d0c335_2019-05-31","properties":{"accountStatus":"Active","accountType":"Individual","accountSubType":"Professional","agreementType":"MicrosoftCustomerAgreement","displayName":"Account
        Name Updated Via CLI Test","hasReadAccess":true,"primaryBillingTenantId":"25190330-c2fa-4110-b63d-5cda77380ac6","billingRelationshipTypes":["Direct"],"qualifications":["Commercial"]},"type":"Microsoft.Billing/billingAccounts"},{"id":"/providers/Microsoft.Billing/billingAccounts/e261ef40-3517-515d-3680-8be4252ae148:0790f1fc-f274-4457-afc3-f3b0c90850ba_2019-05-31","name":"e261ef40-3517-515d-3680-8be4252ae148:0790f1fc-f274-4457-afc3-f3b0c90850ba_2019-05-31","properties":{"accountStatus":"Active","accountType":"Individual","accountSubType":"Professional","agreementType":"MicrosoftCustomerAgreement","displayName":"SMB
        Account 1","hasReadAccess":true,"primaryBillingTenantId":"25190330-c2fa-4110-b63d-5cda77380ac6","registrationNumber":{"id":"12345678","required":false,"type":["RegistrationNumber"]},"billingRelationshipTypes":["Direct"],"qualifications":["Commercial"]},"type":"Microsoft.Billing/billingAccounts"}]}'
    headers:
      api-supported-versions:
      - 2018-11-01-preview, 2019-10-01-preview, 2020-05-01, 2020-11-01-privatepreview,
        2022-10-01-privatepreview, 2024-04-01, 2024-08-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-service-version:
      - 10.6.2811.738
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Billing/billingAccounts/e261ef40-3517-515d-3680-8be4252ae148%3Aefd45d14-e459-4bd7-a883-f3b176d0c335_2019-05-31?api-version=2024-04-01
  response:
    body:
      string: '{"id":"/providers/Microsoft.Billing/billingAccounts/e261ef40-3517-515d-3680-8be4252ae148:efd45d14-e459-4bd7-a883-f3b176d0c335_2019-05-31","name":"e261ef40-3517-515d-3680-8be4252ae148:efd45d14-e459-4bd7-a883-f3b176d0c335_2019-05-31","properties":{"accountStatus":"Active","accountType":"Individual","accountSubType":"Professional","agreementType":"MicrosoftCustomerAgreement","displayName":"Account
        Name Updated Via CLI Test","hasReadAccess":true,"primaryBillingTenantId":"25190330-c2fa-4110-b63d-5cda77380ac6","soldTo":{"addressLine1":"1
        Microsoft Way","city":"Redmond","companyName":"BillingRP CLI","country":"US","postalCode":"98052","region":"WA","isValidAddress":true},"registrationNumber":{"required":false,"type":["RegistrationNumber"]},"billingRelationshipTypes":["Direct"],"qualifications":["Commercial"]},"type":"Microsoft.Billing/billingAccounts"}'
    headers:
      api-supported-versions:
      - 2018-11-01-preview, 2019-10-01-preview, 2020-05-01, 2020-11-01-privatepreview,
        2022-10-01-privatepreview, 2024-04-01, 2024-08-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-service-version:
      - 10.6.2811.738
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"displayName": "Account Name Updated Via CLI Test", "soldTo":
      {"addressLine1": "1 Microsoft Way", "city": "Redmond", "companyName": "BillingRP
      CLI", "country": "US", "postalCode": "98052", "region": "WA"}}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/providers/Microsoft.Billing/billingAccounts/e261ef40-3517-515d-3680-8be4252ae148%3Aefd45d14-e459-4bd7-a883-f3b176d0c335_2019-05-31?api-version=2024-04-01
  response:
    body:
      string: '{"id":"/providers/Microsoft.Billing/billingAccounts/e261ef40-3517-515d-3680-8be4252ae148:efd45d14-e459-4bd7-a883-f3b176d0c335_2019-05-31","name":"e261ef40-3517-515d-3680-8be4252ae148:efd45d14-e459-4bd7-a883-f3b176d0c335_2019-05-31","properties":{"accountStatus":"Active","accountType":"Business","accountSubType":"Professional","agreementType":"MicrosoftCustomerAgreement","displayName":"Account
        Name Updated Via CLI Test","hasReadAccess":true,"primaryBillingTenantId":"25190330-c2fa-4110-b63d-5cda77380ac6","soldTo":{"addressLine1":"1
        Microsoft Way","city":"Redmond","companyName":"BillingRP CLI","country":"US","postalCode":"98052","region":"WA","isValidAddress":true},"registrationNumber":{"required":false,"type":["RegistrationNumber"]},"billingRelationshipTypes":["Direct"],"qualifications":["Commercial"]},"type":"Microsoft.Billing/billingAccounts"}'
    headers:
      api-supported-versions:
      - 2018-11-01-preview, 2019-10-01-preview, 2020-05-01, 2020-11-01-privatepreview,
        2022-10-01-privatepreview, 2024-04-01, 2024-08-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-tenant-writes:
      - '199'
      x-ms-service-version:
      - 10.6.2811.738
    status:
      code: 200
      message: OK
version: 1
